@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Outfit", sans-serif;
}
body {
  color: white;
  background-image: url(/assets/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 2rem;
}
.logo img {
  width: 160px;
}
.results {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
.summary {
  margin-top: 0;
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
}
.correct,
.wrong {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 0;
}
.correct-result {
  text-align: left;
  position: relative;
  top: 75px;
  left: 10px;
  padding: 14px;
  margin: 5px;
}
.wrong-result {
  text-align: right;
  position: relative;
  top: -135px;
  left: 20px;
  padding: 25px;
  margin: 5px;
}

#percCorr,
#percWrong {
  font-size: 3.5em;
  margin: 0;
}
.risp-corr,
.risp-wrong {
  margin: 0;
}
.torta {
  text-align: center;
  position: absolute;
  left: 43%;
  margin-top: -160px;
  margin-left: -100px;
  border-radius: 50%;
  background: conic-gradient(#d20094 180deg, #00ffff 180deg);
  height: 360px;
  width: 360px;
}
.torta::before {
  content: "";
  position: absolute;
  height: 75%;
  width: 75%;
  left: 45px;
  bottom: 49px;
  border-radius: 50%;
  background-color: #070c2f;
}
.buttomCont {
  text-align: center;
  position: relative;
  top: 57px;
}
.rateus {
  padding: 0.7em;
  width: 170px;
  background-color: transparent;
  color: white;
  border-color: white;
  font-size: large;
  border: 1.5px solid white;
  box-shadow: 0px 0px 20px 1px #0091ff2c;
  cursor: pointer;
}
#you-passed {
  color: #00ffff;
}

.contResult {
  margin: 0px;
}
#torta-testo {
  position: relative;
  top: 90px;
}

#torta-testo p {
  position: relative;
  top: 20px;
}
