@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: white;
  background-image: url(/assets/bg.jpg);
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

#container {
  width: 90%;
  margin: 30px auto;
}
.logo img {
  width: 200px;
}
#title {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
}

.instructions h3 {
  color: #d20094;
}
